.banner-blog {
  background-image: url('../../assets/blogImg/Rectangle146.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-content p,
.blog-content li,
.blog-content .wp-block-heading strong {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;

  @media screen and (max-width: 767px) {
    font-size: 4rem;
    padding: 3rem 0;
  }
}
.blog-content img {
  margin: auto;
}
.blog-content .wp-block-heading strong {
  color: #000;
}
.comment-content a {
  color: #007bff;
}

.mySwiperBlog .swiper-pagination {
  bottom: -5px;
}
.mySwiperBlog .swiper-pagination-bullet {
  background: #000;
  width: 8px;
  height: 8px;
  opacity: 0.2;
  border-radius: 50%;
}

.mySwiperBlog .swiper-pagination-bullet-active {
  background: #000;
  width: 8px;
  opacity: 0.5;
  border-radius: 50%;
  height: 8px;
}
