@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-container .input-search::placeholder {
    @apply font-normal text-[1rem] not-italic leading-[5.12rem];
  }
  .navbar-container .tab-menu:hover span {
    @apply text-[#55D5D2] font-semibold;
  }
  .navbar-container .tab-menu:hover svg path {
    @apply stroke-[#55D5D2];
  }

  .navbar-container .tab-menu-active span {
    @apply text-[#55D5D2] font-semibold;
  }
  .navbar-container .tab-menu-active svg path {
    @apply stroke-[#55D5D2];
  }
}

.navbar-home {
  /* background: none; */
}

.navbar-main-home {
  background: rgba(29, 29, 29, 0.26);
  backdrop-filter: blur(12.5px);
}

.search-home-navbar {
  opacity: 0.25;
  background: var(--Foundation-BACKGROUND-ELEVATION-5, #fff);
}
