@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-container .input-search::placeholder {
    @apply font-normal text-[1rem] not-italic leading-[5.12rem];
  }

  .navbar-container .tab-menu:hover span {
    @apply text-[#55D5D2] font-semibold;
  }

  .navbar-container .tab-menu:hover svg path {
    @apply stroke-[#55D5D2];
  }

  .navbar-container .tab-menu-active span {
    @apply text-[#55D5D2] font-semibold;
  }

  .navbar-container .tab-menu-active svg path {
    @apply stroke-[#55D5D2];
  }
}

.navbar-home:hover a {
  color: #55d5d2;
}

.bg-navbar-main-home {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  animation-delay: 2s;
}

.search-home-navbar {
  opacity: 0.25;
  background: var(--Foundation-BACKGROUND-ELEVATION-5, #fff);
}

.container-dropdown-menu {
  /* margin-right: calc(((100vw - 1400px)/2) - 15px) !important;
  width: 100vw !important; */

  @screen md {
    margin-right: calc(((100vw - 720px) / 2) - 12px) !important;
    width: calc(750px - 30px) !important;
  }

  @screen lg {
    width: 940px !important;
    margin-right: calc((100vw - 940px) / 2 - 12px) !important;
  }

  @screen xl {
    width: 1140px !important;
    margin-right: calc((100vw - 1140px) / 2 - 12px) !important;
  }
  @media screen and (min-width: 1401px) {
    width: 1370px !important;
    margin-right: calc((100vw - 1370px) / 2 - 12px) !important;
  }
}
