.item-collect {
  @media screen and (max-width: 767px) {
    width: 50%;
  }
}
.item-collect:hover .icon-arrow-right {
  transform: translateX(-30px);
  visibility: visible !important;
  transition: ease-in-out;
  color: #f58f5d;
  transition: all 0.4s ease;
}

.item-collect:hover .category-collect {
  color: #f58f5d;
}

.see-more:hover svg,
.see-more:hover p,
.feature-item:hover .feature-title,
.feature-item:hover svg {
  color: #f58f5d;
}

.collect-more:hover {
  background-color: #f58f5d;
  cursor: pointer;
  color: #fff;
}

.collect-more:hover .collect-title {
  color: #fff;
}

.about {
  background-image: url('../../../../public/img/home/about_bg.png');
  background-size: cover;
  min-height: 1058px;
}

.about-card-content {
  display: flex;
  min-height: 500px;
  align-items: flex-end;
  justify-content: center;
  color: rgb(211, 211, 211);

  @media screen and (max-width: 767px) {
    min-height: initial;
  }
}

.about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about-content p {
  font-size: 3rem;
  margin: 0px;
  margin-right: 0.5rem;
  font-weight: 700;
  @media screen and (max-width: 767px) {
    font-size: 6rem;
  }
}

.about-content span {
  opacity: 0.2;
  color: #fff;
}

.mySwiper-about {
  height: 620px;
  @media screen and (max-width: 767px) {
    height: 400px;
  }
}

.mySwiper-about .swiper-slide {
  height: 580px;
  @media screen and (max-width: 767px) {
    height: 350px;
  }
}

.search-about-slide:hover .arrow-about-slide {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}

.item-social:hover .image-item-slide {
  transform: scale(1.2);
  transition: all 0.3s;
}

.action-home {
  background-image: url('../../../../public/img/home/image_1844.png');
  background-size: cover;
}

.item-actions {
  background: linear-gradient(
    94deg,
    rgba(0, 0, 0, 0.4) 3.25%,
    rgba(0, 0, 0, 0.4) 58.68%,
    rgba(0, 0, 0, 0.05) 100%
  );
  border-radius: 1.875rem 0rem 0rem 1.875rem;
  @media screen and (max-width: 767px) {
    border-radius: 8rem;
  }
}

.card-item-action {
  border-radius: 2.5rem;
  border: 10px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}

.mySwiper-action .swiper-slide {
  height: 31.875rem;
  @media screen and (max-width: 767px) {
    height: 60rem;
  }
}

.text-follow-shadow {
  color: white;
  text-shadow: -1px 0 #55d5d2, 0 1px #55d5d2, 1px 0 #55d5d2, 0 -1px #55d5d2;
}
