.flash-sale-home .swiper-wrapper {
  margin-top: 1rem;

  @media screen and (max-width: 767px) {
    margin-top: 3rem;
  }
}

/* .flash-sale-home .swiper-pagination {
  width: 225px;
  height: 5px;
  background-color: #55d5d2;

  @media screen and (max-width: 767px) {
    width: 165px;
  }
} */

.flash-sale-home .swiper-pagination span {
  background: #f58f5d;
}

.flash-product button {
  background-color: #eef9f9 !important;
  box-shadow: none !important;
  color: #454545;
  padding: 0;
}
.flash-product svg {
  margin: 1rem;
}

.flash-sale-tab .data-\[state\=active\]\:text-foreground[data-state='active'] {
  color: #55d5d2 !important;
}

.myTextEvent .swiper-wrapper {
  transition-timing-function: linear;
}

.item-collect {
  @media screen and (max-width: 767px) {
    width: 25%;
  }
}
.item-collect-slide:hover .icon-arrow-right,
.item-collect:hover .icon-arrow-right {
  display: block;
  transition: all 0.4s ease;
}
.item-collect-slide:hover .icon-arrow-right svg path,
.item-collect:hover .icon-arrow-right svg path {
  fill: #f58f5d;
}

.item-collect-slide:hover .category-collect,
.item-collect:hover .category-collect {
  color: #f58f5d;
}

.see-more:hover svg,
.see-more:hover p,
.feature-item:hover .feature-content {
  color: #f58f5d;
  transition: transform 0.2s ease-in;
}

.feature-item svg {
  transition: transform 0.2s ease-out;
  transform: translateX(-20px);

  @media screen and (max-width: 767px) {
    transform: translateX(0);
    width: 6.5rem;
    height: 6.5rem;
  }
}

.feature-item:hover {
  border-top: 1px solid #f58f5d;
  transition: transform 0.2s ease-in;
}

.feature-item:hover svg path {
  fill: #f58f5d;
  stroke: #f58f5d;
}

.feature-item:hover svg {
  transform: translateX(0px);
  transition: transform 0.2s ease-in;
}

.collect-more:hover {
  background-color: #f58f5d;
  cursor: pointer;
  color: #fff;
}

.collect-more:hover .collect-title,
.show-project-home:hover p {
  color: #fff;
}

.collect-more:hover circle {
  fill: #fff;
}

.show-project-home:hover svg path {
  fill: white;
  stroke: white;
}

.collect-more:hover rect {
  fill: #55c3c4;
}

.arrow-product-slide svg path {
  @media screen and (max-width: 767px) {
    stroke: #55c3c4;
  }
}

.about {
  background-image: url('../../../../public/img/home/about_bg.jpg');
  background-size: cover;
  min-height: 1333px;

  @media screen and (max-width: 1024px) {
    min-height: 1080px;
  }
}

.about .pin-spacer {
  height: 1300px !important;
}

.about-card-content {
  min-height: 500px;
  align-items: flex-start;
  justify-content: center;
  color: rgb(211, 211, 211);

  @media screen and (max-width: 1024px) {
    min-height: initial;
  }
}

.about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about-content {
  font-size: 2.8125rem;
  margin: 0px;
  margin-right: 0.5rem;
  font-weight: 700;

  @media screen and (max-width: 767px) {
    font-size: 6.4rem;
    font-weight: 800;
  }
}

.about-content span {
  opacity: 0.2;
  color: #fff;
}

.mySwiper-about {
  height: 620px;

  @media screen and (max-width: 767px) {
    height: 400px;
  }
}

.mySwiper-about .swiper-slide {
  height: 580px;

  @media screen and (max-width: 767px) {
    height: 350px;
    border: none;
  }
}

.search-about-slide:hover .arrow-about-slide {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}

.item-social:hover .image-item-slide,
.item-product-home:hover .image-item-slide,
.blog-item-home:hover .image-item-blog {
  transform: scale(1.2);
  transition: all 0.3s;
}

.item-product-home {
  margin: 0px 4px 30px 0px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.item-product-home .arrow-product-slide,
.item-product-home .price-product-slide {
  transition: transform 0.2s ease-out;
}

.item-product-home:hover .arrow-product-slide {
  transform: rotate(45deg);
  transition: transform 0.2s ease-out;
}

.item-product-home:hover .price-product-slide {
  transform: translateY(-6px);
  background: #f58f5d;
  transition: transform 0.2s ease-out;

  @media screen and (max-width: 767px) {
    color: #fff;
  }
}

.item-product-home:hover .price-product-slide p,
.item-product-home:hover .arrow-product-slide svg path {
  color: #fff;
  stroke: #fff;
}

.blog-item-home .image-item-blog {
  transition: all 0.3s;
}

.blog-item-home:hover .item-title-blog {
  color: #55d5d2;
  text-decoration: underline;
  transition: color 0.3s;
}

.item-btn-blog:hover {
  background: #f58f5d;
}

.item-btn-blog:hover .btn-blog-title {
  color: #fff;
}

.item-date-blog {
  transform: translateX(1rem);
  transition: transform 0.2s ease-out;
}

.item-btn-blog:hover + .item-date-blog {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
  color: #f58f5d;
}

.item-btn-blog:hover .line--more {
  display: none;
}

.item-btn-blog:hover .see--more {
  display: block;
}

.action-home {
  background-image: url('../../../../public/img/home/image_1844.png');
  background-size: cover;
}

.item-actions {
  background: linear-gradient(
    94deg,
    rgba(0, 0, 0, 0.4) 3.25%,
    rgba(0, 0, 0, 0.4) 58.68%,
    rgba(0, 0, 0, 0.05) 100%
  );
  border-radius: 1.875rem 0rem 0rem 1.875rem;

  @media screen and (max-width: 767px) {
    border-radius: 8rem;
  }
}

.card-item-action {
  border-radius: 2.5rem;
  border: 10px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);

  @media screen and (max-width: 767px) {
    border: none;
  }
}

.mySwiper-action .swiper-slide {
  height: 31.875rem;

  @media screen and (max-width: 767px) {
    height: 60rem;
  }
}

.mySwiper-action .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 4px;
  opacity: 1;
  border-radius: initial;
}

.mySwiper-action .swiper-pagination-bullet-active {
  background: #f58f5d;
  width: 35px;
  border-radius: inherit;
  height: 4px;
}

.text-follow-shadow {
  color: #eef9f9;
  text-shadow: -1px 0 #55d5d2, 0 1px #55d5d2, 1px 0 #55d5d2, 0 -1px #55d5d2;
}

.line-container {
  position: relative;
  height: 2px;
  width: 25%;
  /* Chiều cao của đường line */
  background-color: #fff;
  /* Màu của đường line khi không chạy animation */

  opacity: 0.3;
  transition: ease-in-out 2s;
}

.story-1 {
  animation: colorChange1 5s linear forwards;
  animation-delay: 1s;
}

.story-2 {
  animation: colorChange2 5s linear forwards;
  animation-delay: 5s;
}

.story-3 {
  animation: colorChange3 5s linear forwards;
  animation-delay: 10s;
}

.story-4 {
  animation: colorChange4 5s linear forwards;
  animation-delay: 15s;
}

@keyframes colorChange1 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}

@keyframes colorChange2 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}

@keyframes colorChange3 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}

@keyframes colorChange4 {
  0% {
    width: 0;
    /* Bắt đầu từ chiều rộng là 0 */
    transition: ease-in-out 2s;
  }

  100% {
    transition: ease-in-out 2s;
    width: 100%;
    /* Kết thúc với chiều rộng là 100% */
    opacity: 1;
    background-color: #fff;
    /* Màu của đường line khi chạy đến cuối */
  }
}
